//.footer {
//  width: 100vw;
//  background-color: #000000;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  padding-top: 38px;
//  padding-bottom: 47px;
//
//  @media (min-width: 768px ) {
//    padding-top: 57px;
//    padding-bottom: 56px;
//  }
//
//  @media (min-width: 1200px ) {
//    padding-top: 110px;
//    padding-bottom: 70px;
//  }
//
//  &__description {
//    width: 290px;
//    height: 52px;
//    font-family: Roboto, sans-serif;
//    font-size: 12px;
//    line-height: 20px;
//    text-align: center;
//    color: $footer-text-color;
//
//    @media (min-width: 768px) {
//      width: 684px;
//      font-size: 16px;
//      line-height: 26px;
//    }
//  }
//
//  &__description--position {
//    margin-top: 8px;
//    margin-bottom: 26px;
//  }
//
//  &__icons {
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    gap: 5px;
//  }
//
//  &__contacts {
//      width: 230px;
//      display:flex;
//      flex-direction: column;
//
//    @media (min-width: 768px) {
//      width: 613px;
//      flex-direction: row;
//      justify-content: center;
//    }
//    }
//
//  &__contacts--position {
//    margin-top: 25px;
//  }
//
//  }
//
//.description__add-text {
//  display: none;
//
//  @media (min-width: 768px) {
//    display: inline-block;
//  }
//}
//
//.contacts__item {
//    font-family: Roboto, sans-serif;
//    font-size: 14px;
//    line-height: 24px;
//    text-align: center;
//    color: $footer-text-color;
//  }
//
//.title--white {
//  color:  #FEFEFE;
//}
//
//.icon-img {
//  width: 34px;
//  height: 34px;
//  object-fit: cover;
//}