.get {

  &__container {
    width: 100%;
    min-width: 270px;
    margin-top: 88px;

    @media (min-width: 481px) {
      margin-top: 98px;
    }

    @media (min-width: 993px) {
      margin-top: 70px;
      background-color: #F4F4F4;
      padding-top: 94px;
      padding-bottom: 33px;
    }

  }

  &__inner {
    @include flex-column();
    align-items: center;

    @media (min-width: 993px) {
      max-height: 608px;
      flex-wrap: wrap;
      column-gap: 8px;
    }
    @media (min-width: 1201px) {
      max-width: 1200px;
      column-gap: 50px;
      margin:0 auto;
    }

  }


  &__title {

    margin-top: 32px;
    margin-bottom: 36px;
    padding:0 6%;
    @include text-prop(700, 32px, 38px, #8D81AC);
    text-align: center;

    @media (min-width: 481px) {
      margin-top: 62px;
      margin-bottom: 52px;
      padding: 0;
      font-size: 42px;
      line-height: 44px;
    }

    @media (min-width: 993px) {
      margin-top: 0;
      margin-bottom: 19px;
      font-size: 48px;
      line-height: 50px;
      align-self: flex-start;
    }

  }

  &__items {
    padding:0 6%;
    margin-bottom: 58px;
    @include flex-column();
    row-gap: 37px;


    @media (min-width: 481px) {
      padding:0 5%;
      margin-bottom: 73px;
      row-gap: 55px;
    }

    @media (min-width: 993px) {
        row-gap: 0;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0 0 2% 0;
        order:-1;
        width: 45%;
        flex-grow: 1;
        flex-basis: 590px;
        flex-shrink: 0;
        height: 100%;
      }

  }


  &__item {
    min-width: 268px;
    @include flex-column();
    row-gap: 21px;
    align-items: center;

    @media (min-width: 481px) {
      flex-direction: row;
      align-items: flex-start;
    }

  }

}



.item-text {
  @include flex-column();
  row-gap: 14px;

  @media (min-width: 481px) {
    row-gap: 16px;
  }
}


.text-title {
  @include text-prop(400, 16px, 16px, #323232);
  text-align: center;

  @media (min-width: 481px) {
    text-align: left;
  }

}


.text-description {
  @include text-prop(400, 14px, 21px, #848E97);
  text-align: center;

  @media (min-width: 481px) {
    text-align: left;
  }
}


.item-icon-1 {
  width: 111px;
  height: 64px;

  &--position{
    @media (min-width: 481px) {
      margin-right: 4px;
    }
  }

}


.item-icon-2 {
  width: 90px;
  height: 80px;

  &--position{
    @media (min-width: 481px) {
      margin-right: 27px;
    }
  }


}


.item-icon-3 {
  width: 60px;
  height: 84px;

  &--position{
    @media (min-width: 481px) {
      margin-right: 58px;
    }
  }


}


.item-icon-4 {
  width: 71px;
  height: 71px;

  &--position{
    @media (min-width: 481px) {
      margin-right: 52px;
    }
  }

}


.get__picture-img {
  width: 100%;
  height: 120vw;
  object-fit: cover;
  object-position: top left;
  min-width: 297px;
  min-height: 356px;

  @media (min-width: 481px) {
    width: 100%;
    height: 74vw;
    align-self: flex-end;
  }


  @media (min-width: 993px) {
    width: 45%;
    height: auto;
    min-height: 539px;
    flex-grow: 1;
    object-position: top left;
    align-self: flex-end;
  }
}