.header {

  &--position {
    padding-bottom: 80px;
    margin-bottom: 44px;
  }

  &__container {
    position: relative;
    min-width: 300px;
    width: 100%;
    height: 700px;
    background-image: url("../img/header.png");
    @include bg-img();
  }

  &__top {

    &--position {
      padding: 0 16px;
      margin: 0 auto;
    }

    width: 100%;
    height: 103px;
    background-color: #27262A;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: space-between;
    grid-template-rows: 103px;
    align-items: center;
    align-content: center;
    grid-template-areas: "logo btn ham-menu";

    @media (min-width: 768px) {
      height: 118px;
      justify-content: center;
      grid-template-columns: 1fr  0fr;
      grid-template-rows: 41px 21px;
      grid-template-areas: "logo btn"
                           "menu menu";
      grid-row-gap: 20px;
    }

    @media (min-width: 993px) {
      background-color: transparent;
      max-width: 1200px;
      height: 100px;
      grid-template-columns: 1fr  2fr 0fr;
      grid-template-rows: 41px;
      grid-template-areas: "logo menu  btn"
    }

  }

  &__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    column-gap: 17px;

    &:hover {
      svg path {
        fill: #FFFFFF;
      }
    }

    &-img {
      width: 45px;
      height: 45px;
    }

    &-text {
      display: none;
      align-self: flex-end;
      margin-bottom: 5px;

      @media (min-width: 768px) {
        display: block;
      }
    }


  }

}


.ham-menu {
  height: 26px;
  width: 26px;
  grid-area: ham-menu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;


  @media (min-width: 768px) {
    display: none;
  }

  .line {
    background-color: white;
    border-radius: 5px;
    height: 3px;
  }

  .line1 {
    width: 15px;
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
  }

  .line2 {
    width: 26px;
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
  }

  .line3 {
    width: 26px;
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
  }

  &.active {
    padding-top: 2px;

    .line1 {
      display: block;
      width: 23px;
      border-radius: 0;
      transform: rotate(45deg) translate(2px, 0px);
    }

    .line2 {
      opacity: 0;
      transition: opacity 100ms ease-in-out;
    }

    .line3 {
      display: block;
      width: 23px;
      border-radius: 0;
      transform: rotate(-45deg) translate(4px, -1px);
    }
  }

  &-content {
    display: none;
    flex-direction: column;
    width: 90%;
    height: 379px;
    background-color: #333333;
    position: absolute;
    top: 103px;
    left: 50%;
    transform: translate(-50%, 0);

    &.show {
      display: flex;
      animation: growDown 600ms ease-in-out;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &-item {
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 4px solid #3b3b3b;


    &:hover {
      .ham-menu-link {
        color: #8D81AC;
        position: relative;

        &::before {
          content: "";
          width: 8px;
          height: 53px;
          background-color: #8D81AC;
          position: absolute;
          top: -12px;
          left: 0px;
        }
      }
    }
  }

  &-link {
    @include text-prop(400, 26px, 26px, #ffffff);
    padding-left: 40px;
  }

}

@keyframes growDown {
  0% {
    transform: translate(-50%, 0) scaleY(0);
  }
  80% {
    transform: translate(-50%, 0) scaleY(1.1);
  }
  100% {
    transform: translate(-50%, 0) scaleY(1);
  }
}


.header__menu {

  &-list {
    grid-area: menu;
    display: none;
    justify-content: space-between;
    min-width: 517px;

    @media (min-width: 768px) {
      max-width: 527px;
      display: flex;
      justify-self: center;
    }

    @media (min-width: 993px) {
      padding: 0;
    }

  }

  &-link {
    @include text-prop(700, 16px, 18px, #8D81AC);

    &:hover {
      color: #FFFFFF;
    }
  }
}


.header__content {

  &-title {
    @include text-prop(700, 48px, 48px, #ffffff);
    text-align: center;
    margin-top: 49px;
    margin-bottom: 19px;

    @media (min-width: 481px) {
      font-size: 72px;
      line-height: 72px;
    }

    @media (min-width: 993px) {
      font-size: 82px;
      line-height: 82px;
    }
  }

  &-slogan {
    @include text-prop(400, 18px, 24px, #8D81AC);
    text-align: center;
    margin-bottom: 14px;

    @media (min-width: 481px) {
      font-size: 24px;
      line-height: 24px;
    }

    @media (min-width: 993px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &-description {
    @include text-prop(400, 14px, 14px, #8D81AC);
    text-align: center;

    @media (min-width: 993px) {
      font-size: 16px;
      line-height: 16px;
    }

  }

}

.btn--grid-elem {
  grid-area: btn;
}

.btn--foot {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 18px;

  @media (min-width: 481px) {
    font-size: 22px;
  }

  &::after {
    content: "Unlimited 30-Days Trial Period";
    @include text-prop(400, 14px, 14px, #848E97);
    position: absolute;
    width: 241px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
