//.title {
// @include text-prop();
//  line-height: 22px;
//  text-transform: uppercase;
//}
//
//.title--position {
//  margin-bottom: 23px;
//}
//
//.posts {
//
//  &__container {
//    margin: 0 30% 43px 6%;
//
//    @media (min-width: 768px) {
//      margin: 0 15% 60px 8%;
//    }
//
//    @media (min-width: 1200px ) {
//      width: 1170px;
//      margin: 0 auto 69px;
//    }
//  }
//
//  &__cards {
//    @include flex-column();
//    row-gap: 32px;
//    @media (min-width: 1200px) {
//      flex-direction: row;
//      flex-wrap: wrap;
//      column-gap: 55px;
//    }
//  }
//
//  &__card {
//    @include flex-column();
//
//    @media (min-width: 768px) {
//      width: 556px;
//      flex-direction: row;
//      column-gap: 20px;
//    }
//
//    &--hidden {
//      display: none;
//
//      @media (min-width: 768px) {
//        display: flex;
//      }
//    }
//  }
//
//}
//
//.card_img{
//  width: 160px;
//  height: 140px;
//  @include bg-img();
//  flex-shrink: 0;
//}
//
//.card_img1{
//  background-image: url("../img/post1.png");
//}
//
//.card_img2{
//  background-image: url("../img/post2.png");
//}
//
//.card_img3{
//  background-image: url("../img/post3.png");
//}
//
//.card_img4{
//  background-image: url("../img/post4.png");
//}
//
//.card_text-head {
//  @include text-prop();
//  line-height: 30px;
//}
//
//.card_text-comment {
//  font-family: Roboto, sans-serif;
//  color: $comment-color;
//  font-size: 11px;
//  line-height: 20px;
//  cursor: pointer;
//}
//
//.card_text-description {
//  display: none;
//  font-family: Lato, sans-serif;
//  color: $description-color;
//  font-size: 14px;
//  line-height: 26px;
//
//  @media (min-width: 768px) {
//    display: block;
//    flex-grow: 0;
//  }
//
//  &--position {
//    @media (min-width: 768px) {
//      margin-top: 13px;
//    }
//  }
//}
//
//
