.title {
  @include text-prop(700,28px,42px,#FFFFFF);
  text-align: center;

  @media (min-width: 481px) {
    font-size: 42px;
    line-height: 44px;
  }

  @media (min-width: 993px) {
    font-size: 48px;
    line-height: 50px;
  }

  &--position {
    padding: 0 10px;

    @media (min-width: 481px) {
      margin-top: 88px;
    }
  }
}

.pricing {

  &__container {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    @include bg-img();
    background-image: url("../img/pricing.png");

    @media (min-width: 481px) {
      row-gap: 39px;
    }

    @media (min-width: 993px) {
      row-gap: 61px;
    }

  }

  &__cards {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
    column-gap: 25px;
    max-width: 500px;


    @media (min-width: 481px) {
      margin-bottom: 94px;
    }

    @media (min-width: 663px)  {
     max-width: 800px;
    }

    @media (min-width: 993px) {
      margin-bottom: 73px;
    }

    @media (min-width: 1201px) {
      max-width: 1200px;
    }
  }



  &__card {
    width: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.11);

    &--last {
      margin-left: 17px;
      margin-right: 17px;
      @media (min-width: 635px) and (max-width: 1200px) {
        margin-left: 0;
        margin-right: 34px;
      }
      @media (min-width: 1200px) {
        margin:0;
      }
    }

    &--third {
      width: 299px;
      background-color: rgba(70, 48, 72, 0.84);
    }
  }

}

.card__head {
  display: flex;
  align-items: center;
  justify-content: center;
  @include text-prop(400, 24px,24px,#FFFFFF);
  text-transform: uppercase;
  width: 100%;
  height: 97px;
  background-color: rgba(255, 255, 255, 0.06);


  &--third {
    height: 111px;
    background-color: rgba(0, 0, 0, 0.11);
  }
}


.card__content {
  width: 100%;
}


.card__price {
  @include text-prop(700, 60px,62px,#FFFFFF);
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;

  span {
    font-weight: 400;
  }
  &--third {
    font-size: 82px;
    line-height: 84px;
    margin-top: 14px;
    margin-bottom: 16px;
  }

}


.card__term {
  @include text-prop(400, 14px,16px,#FFFFFF);
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 73px;

  &::after {
    content: "";
    position: absolute;
    background-color: #8D81AC;
    width: 60px;
    height: 5px;
    top: 38px;
    left: 95px;
  }

  &--third {
    margin-bottom: 91px;
    &::after {
      top: 46px;
    left: 120px;
  }
  }
}


.card__features {
  @include text-prop(400, 16px,18px,#FFFFFF);
  text-align: center;

  &--position {
    margin-bottom: 64px;
  }

  &--position2 {

    margin-bottom: 46px;
  }

  &--position3 {
    margin-bottom: 83px;
  }

}


.btn-purchase {
  @include text-prop(400, 15px,15px,#FFFFFF);
  text-transform: uppercase;
  padding: 13.5px 36px;
  border-radius: 54px;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.15);
  width: 160px;
  display: block;
  cursor:pointer;

  &--position {
    margin: 0 auto 37px;
  }
}